Ejercicios/Sesion3/Sesion3/SampleData/MainDataSource/MainDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MainDataSource" targetNamespace="Expression.Blend.SampleData.MainDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainDataSource" type="tns:MainDataSource" />
  <xs:complexType name="MainDataSource">
    <xs:sequence>
      <xs:element name="Jugadores" type="tns:Jugadores" />
      <xs:element name="JugadorSeleccionado" type="tns:JugadorSeleccionado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Jugadores">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="JugadoresItem" type="tns:JugadoresItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JugadoresItem">
    <xs:attribute blend:Format="Name" name="Nombre" type="xs:string" />
    <xs:attribute name="Foto" type="tns:Basic-Image" />
    <xs:attribute name="Descubierto" type="xs:boolean" />
    <xs:attribute name="Respuesta" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="JugadorSeleccionado">
    <xs:sequence>
      <xs:element name="Pistas" type="tns:Pistas" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Respuesta" type="xs:string" />
    <xs:attribute name="Foto" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Pistas">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PistasItem" type="tns:PistasItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PistasItem">
    <xs:attribute name="Descripcion" type="xs:string" />
    <xs:attribute name="Valor" type="xs:string" />
  </xs:complexType>
</xs:schema>