Ejercicios/Eventos/Eventos.UI/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Days" type="tns:Days" />
      <xs:element name="Activities" type="tns:Activities1" />
      <xs:element name="EventInfo" type="tns:EventInfo" />
      <xs:element name="Activity" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Days">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DaysItem" type="tns:DaysItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DaysItem">
    <xs:sequence>
      <xs:element name="Activities" type="tns:Activities" />
    </xs:sequence>
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Activities">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ActivitiesItem" type="tns:ActivitiesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivitiesItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Time" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Activities1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ActivitiesItem1" type="tns:ActivitiesItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivitiesItem1">
    <xs:attribute blend:Format="Time" name="Time" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EventInfo">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="StartDate" type="xs:string" />
    <xs:attribute name="EndDate" type="xs:string" />
    <xs:attribute blend:FormatParameters="50,8" name="Description" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Activity">
    <xs:attribute blend:Format="Time" name="Time" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>