Ejercicios/Sesion 11/Test.UI/SampleData/NewSampleDataSource/NewSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.NewSampleDataSource" targetNamespace="Expression.Blend.SampleData.NewSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NewSampleDataSource" type="tns:NewSampleDataSource" />
  <xs:complexType name="NewSampleDataSource">
    <xs:sequence>
      <xs:element name="Events" type="tns:Events" />
      <xs:element name="NewEvent" type="tns:NewEvent" />
    </xs:sequence>
    <xs:attribute name="TotalPoints" type="xs:string" />
    <xs:attribute name="ClearCommand" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Events">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EventsItem" type="tns:EventsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventsItem">
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="Points" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="NewEvent">
    <xs:attribute name="Points" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute name="SaveCommand" type="xs:string" />
  </xs:complexType>
</xs:schema>